<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<title>Loginstration</title>
	<style>
		p{
			color: red;
			margin: 0px;
		}

		.error{
			color: red;
		}

		.title{
			text-align: center;
			margin: 50px auto 50px;
		}

		.wrapper{
			padding: 10px 50px;
		}

		.greeting{
			color: #67AC5B;
			margin-bottom: 10px 0px;
		}

		.kick{
			color: red;
			margin-bottom: 10px 0px;
		}

		.wrap_body{
			margin-top: 40px;
		}

		.inline{
			display: inline-block;
		}

		.register{
			margin-bottom: 50px;
		}

		/*@media only screen and (max-width: 600px){
			.register{
				width: 90%;
				background-color: magenta;
				display: block;
			}
			.login{
				width: 90%;
				display: block;
				background-color: salmon
			}
		}*/

	</style>
</head>
<body>
	
	<div class="container-fluid outer">
		<h1 class="title">Login/Registration</h1>
		{% with errors = get_flashed_messages(category_filter=["log_out"]) %}
			{% if errors %}
				{% for msg in errors %}
					<p class="title error">{{ msg }}</p>
				{% endfor %}
			{% endif %}
		{% endwith %}

		<div class="row container-fluid wrap_body">

			<div class="col-md container register">
				<h3>Register</h3>
				<form action="/register" method="post">
					<div class="form-group">
						<input type="text" name="first_name" class="form-control" placeholder="First name" value="{{ session['first_name'] }}">
						{% with errors = get_flashed_messages(category_filter=['first_name']) %}
							{% if errors %}
								{% for msg in errors %}
									<p> {{msg}} </p>
								{% endfor %}
							{% endif %}
						{% endwith %}
					</div>
					<div class="form-group">
						<input type="text" name="last_name" class="form-control" placeholder="Last name" value="{{ session['last_name'] }}">
						{% with errors = get_flashed_messages(category_filter=['last_name']) %}
							{% if errors %}
								{% for msg in errors %}
									<p> {{msg}} </p>
								{% endfor %}
							{% endif %}
						{% endwith %}
					</div>
					<div class="form-group">
						<input type="text" name="email" class="form-control" placeholder="Email" value="{{ session['email'] }}">
						{% with errors = get_flashed_messages(category_filter=['email']) %}
							{% if errors %}
								{% for msg in errors %}
									<p> {{msg}} </p>
								{% endfor %}
							{% endif %}
						{% endwith %}
					</div>
					<div class="form-group">
						<input type="password" name="password" class="form-control" placeholder="Password">
						{% with errors = get_flashed_messages(category_filter=['password']) %}
							{% if errors %}
								{% for msg in errors %}
									<p> {{msg}} </p>
								{% endfor %}
							{% endif %}
						{% endwith %}
					</div>
					<div class="form-group">
						<input type="password" name="pass_confirm" class="form-control" placeholder="Password confirmation">
						{% with errors = get_flashed_messages(category_filter=['password_confirm']) %}
							{% if errors %}
								{% for msg in errors %}
									<p> {{msg}} </p>
								{% endfor %}
							{% endif %}
						{% endwith %}
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>

			<div class="col-md container login">
				<h3>Log in</h3>
				<form action="/login" method="post">
					<div class="form-group">
						<input type="text" name="email_login" class="form-control" placeholder="Enter email" value="{{ session['email_login'] }}">
						{% with errors = get_flashed_messages(category_filter=["email_login"]) %}
							{% if errors %}
								{% for msg in errors %}
									<p>{{ msg }}</p>
								{% endfor %}
							{% endif %}
						{% endwith %}
					</div>
					<div class="form-group">
						<input type="password" name="password_login" class="form-control"  placeholder="Password">
						{% with errors = get_flashed_messages(category_filter=["password_login"]) %}
							{% if errors %}
								{% for msg in errors %}
									<p>{{ msg }}</p>
								{% endfor %}
							{% endif %}
						{% endwith %}
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
					{% with errors = get_flashed_messages(category_filter=["denied"]) %}
						{% if errors %}
							{% for msg in errors %}
								<p>{{ msg }}</p>
							{% endfor %}
						{% endif %}
					{% endwith %}
				</form>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>








